.hero {
    height: 100vh;
    display: block;
    padding: 15px 0px 0px 0px;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text {
    display: block;
    align-items: center;
    justify-content: center;
    font-weight: 650;
}

.hero-news {
    justify-content: center;
    align-items: center;
}

