.hero {
    height: 100vh;
    display: block;
    margin:auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: -235px;
    margin-top: 175px;
    /* background-image: url("../Assets/Faeded.jpg"); 
    background-size: cover;  */
}

.hero-text {
    display: block;
    align-items: center;
    justify-content: center;
    font-family: Crom;
    src: url("../Assets/Crom_v1.ttf");
    color: #ff4141;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
    font-size: 25px; 
    font-weight: 700;
}

.hero-text h2 {
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600px;
    margin-top: -10px;
}

.hero-featured {
    justify-content: center;
    align-items: center;
    background-image: url("../Assets/hero_imagethree.png");  
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 99%;
    height: 500px;
    margin: auto;
    padding: 10px;
}

