.newsletter {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -120px;
    padding: 0px 140px;
    padding-top: 0px;
    margin-bottom: 30px;
    gap: 30px;
}

.newsletter h1 {
    align-items: center;
    justify-content: center;
    color: #454545;
    font-weight: 600;
    padding-left: 40px;
    margin-bottom: -50px;
}

.newsletter h2 {
    align-items: center;
    justify-content: center;
    color: #454545;
    font-weight: 600;
    padding-left: 40px;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 730px;
    height: 70px;
    border-radius: 80px solid;
    border: 1px solid #e3e3e3;
}

.newsletter input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
}

.newsletter div button {
    width: 210px;
    align-items: center;
    padding-bottom: 51px;
    padding-left: 62px;
    height: 70px;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-image: url("../Assets/warhorn.png");
    background-position: center;
    background-size: 200px 62px;
    color: #ff4141;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
                
}

.newsletter div button:hover {
    transform: scale(1.1);
}
